.homeCardLeft {
    position: relative;
    transform: translateX(-100%);
    animation: slideInLeft 1.5s forwards;
}

.homeCardRight {
    position: relative;
    transform: translateX(200%);
    animation: slideInRight 1.5s forwards;
}
.boyaHeader{
    position: absolute;
    text-align: center;
    margin-top: 10px;

}
.boyaHeaderSlogen{
    /* position: absolute;
    top: 100;
    left: 0;
    margin-top: 130px; */
    font-size: 30px;
}
.topToPlace{
    /* position: relative; */
    transform: translateY(-100%);
    animation: slideInTop 1.5s forwards;
}
@keyframes slideInTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

.pump{
    animation: pump 1.5s infinite;
}
@keyframes pump{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}