.scrollItem{
    position: relative;
    min-width: 30%;
    height: 120px;
    animation: transform 100s linear infinite alternate;
    overflow-y: auto;
}


@keyframes transform {
    0% {
        transform: translateX(350%);
    }
    100% {
        transform: translateX(-1000%);
    }
}
