.scrollItem{
    position: relative;
    min-width: 30%;
    height: 120px;
    animation: transform 1500s linear infinite alternate;
    overflow-y: hidden;
}


@keyframes transform {
    0% {
        transform: translateX(350%);
    }
    100% {
        transform: translateX(-20000%);
    }
}
